.main-section {
   position: absolute;

   top: 30%;
   left: 30%;
   margin-right: auto;
   margin-left: auto;




   ul {
      display: flex;
      flex-direction: row;
      column-gap: 100px;

   }
}