.user-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;

    padding-top: 100px;
    padding-left: 220px;
}


.hello {
    display: flex;
    padding: 40px 0 20px 0;
    font-size: 45px;

    .hello-red {
        padding-left: 14px;
        color: $color-2;
    }
}

.message {
    padding: 0 0 40px 0
}


.charts-container {

    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 13fr 11fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;


}




@media screen and (max-width: 900px) {
    .user-container {
        padding-left: 100px;
    }

    .charts-container {
        height: 60%;
    }
}