.user-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;

    padding-top: 100px;
    padding-left: 220px;
}


.hello {
    display: flex;
    padding: 40px 0 20px 0;
    font-size: 45px;
    .hello-red{
        padding-left: 14px;
        color: $color-2 ;
    }
}

.message {padding : 0 0 40px 0}


.charts-container {
   
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 13fr 11fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;


}


.activity {
    display: flex;
    grid-area: 1 / 1 / 2 / 4;
    background-color: $color-3;
    border-radius: 5px;
}


.sessions {
    grid-area: 2 / 1 / 3 / 2;
    background-color: $color-2;
    border-radius: 5px;
}

.performance {
    grid-area: 2 / 2 / 3 / 3;
    background-color: $color-1;
    color: #FFF;
    border-radius: 5px;
}

.score {
    grid-area: 2 / 3 / 3 / 4;
    background-color: $color-3;
    border-radius: 5px;
}

.sidecards {
    grid-area: 1 / 4 / 3 / 5;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
        height: 150px;
    }


    .card {
        img {
            width: 60px;
        }
        .card-text {display: flex;flex-direction: column;align-items: flex-start   ;row-gap: 10px;
        
        p{color : #918e8e}}
    }
}







@media screen and (max-width: 900px) {
    .user-container {padding-left: 100px;}
    .charts-container {height : 60%;}}