.activity {
    display: flex;
    grid-area: 1 / 1 / 2 / 4;
    background-color: $color-3;
    border-radius: 5px;
}

.custom-tooltip-activity {
    display: flex;
    flex-direction: column;
    @include verticalCenter;
    justify-content: space-between;
    margin-left: 25px;
    width: 70px;
    background-color: $color-2;
    color: #FFF
}
.label1{padding: 20px 0 20px 0;}

.label2{padding: 20px 0 20px 0;}



