.horizontal-navigation {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: row;
    height: 95px;
    color: #FFF;
    z-index: 2;

    background-color: black;
    align-items: center;

    ul {
        padding-left: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        column-gap: 100px;

        li {
            color: #FFF;
            font-size: 25px;
        }
    }

}