.vertical-navigation{display :flex;

    flex-direction: row;
    width : 90px;
    height : 100%;
    color: #FFF;
    
    background-color: black;
    
    ul{padding-left: 200px;
        display : flex;
        flex-direction: row;
        justify-content: space-around;
        column-gap: 100px;
    
        li{color: #FFF;
            font-size: 25px;}
        }


    }



    .copyright {transform: rotate(-90deg);}
    
    
    