@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
}


$font-1: "font-1";

$color-1: #000;

$color-2: #E60000;

$color-3: #FBFBFB;

$width-home : 100%;


@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  width: $width-home;
  margin-left: auto;
  margin-right: auto;
  font-family: $font-1;
}

li {
  list-style-type: none;
}

#root {
  width: $width-home;
  height: 100%;
}

a{
  text-decoration: none;
}